.HeaderDesktop {
  display: flex;
  justify-content: space-between;
  height: 152px;
  width: 100%;
  align-items: center;

  padding-left: 12%;
  padding-right: 12%;

  .container-button {
    display: flex;
    gap: 30px;

    button {
      width: 165px;
      height: 43px;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      color: var(--white-900);
      border: none;
      cursor: pointer;
      background-color: var(--black-900);
      font-weight: bold;
      font-size: 14px;
      margin-bottom: 20px;

      &:hover {
        background-color: #575757;
      }

      img {
        width: 19px;
        height: 19px;
        margin-right: 6px;
      }
    }

    .button-whatsapp {
      background-color: var(--green-600);
      &:hover {
        background-color: #35aa61;
      }
    }
  }

  .itens-modal {
    display: flex;
    gap: 58px;
    cursor: pointer;

    button {
      font-size: 14px;
      font-weight: bold;
      border: none;
      outline: none;
      background-color: transparent;
      color: var(--grey-500);
      margin-top: 10px;
      cursor: pointer;
    }
  }

  img {
    width: 92px;
    height: 92px;
  }
}
